<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soy la pagina de datos</h1>
    <h2> Datos de coseha </h2>
    <h3>
    {% for i in datosCosecha %}

        <h1> Pase: {{i.paseCosecha}} </h1>
    
    {% endfor %}
</h3>

<!-- me esta mostrando el resultado de multiplicar los datos enviados por el formulario de Criopreservación -->
<h1>{{result}}</h1>

</body>
</html>