{% extends 'formularios/base.html' %}

{% block title %}Página de Datos{% endblock %}
{% block content %}
    <style>
        table {
          margin: 0 auto; /* centra la tabla horizontalmente */
          text-align: center; /* centra el contenido de las celdas horizontalmente */
        }
      </style>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Siembra</th>
                <th>Cosecha</th>
                <th>Lote</th> 
                <th>Pase</th>
                <th>Generaciones</th>
                <th>Tiempo de duplicación [Dias] </th>
                <th>Relación Expansión</th>
                <th> Densidad Siembra [Cells/cm2] </th>
                <th> Densidad Cosecha [Cells/cm2] </th>
                <th> Medio de cultivo </th>
                <th>CCI</th>
            </tr>
        </thead>
        <tbody>
            {% for i in datos %}
            <tr>
              <td>{{ i.siembra }}</td>
              <td>{{ i.cosecha }}</td>
              <td>{{i.loteDatos}}</td>
              <td>{{ i.pase }}</td>
              <td>{{ i.generaciones }}</td>
              <td>{{i.tiempoDuplicacion}}</td>
              <td>{{i.relacionExpansion}}</td>
              <td>{{i.densidadSiembra}}</td>
              <td>{{i.densidadCosecha}}</td>
              <td>{{i.medioSiembra}}</td>
              <td>{{i.cci}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}
