{% extends 'formularios/base.html' %}

{% block content %}
    <h1>Formulario Criopreservación</h1>
    <!-- Le quité el action para que la redireción se hiciera por medio de la view -->
    <div class="formularioSeguimientos" id="formularioSiembra">
        <h2> Datos de Criopreservación</h2>
        <form  method="post">
            {% csrf_token %}
            
            {{ formCrio.as_p }} 
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        
        </div>
{% endblock %}