<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario Criopreservación</h1>
    <!-- Le quité el action para que la redireción se hiciera por medio de la view -->
    <div class="formularioSeguimientos" id="formularioSiembra">
        <h2> Datos de Criopreservación</h2>
        <form  method="post">
            {% csrf_token %}
            {{ formCrio.as_p }}
            <input type="submit" value="Submit">
        </form>
        
        </div>
    
</body>
</html>