{% extends 'formularios/base.html' %}

{% block content %}
    <h1> Formulario Cosecha</h1>
    <div class="formularioSeguimientos" id="formularioCosecha">
        <h2> Datos de coseha</h2>
        <form method="post">
            {% csrf_token %}
            {{ formCosecha.as_p }}
            <input type="submit" name="action" class="btn btn-primary" value="Guardar">
            <input type="submit" name="action" class="btn btn-secondary" value="Mostrar">

        </form>
        
        </div>

        {% if success %}
        <script>
            // Configuración de SweetAlert
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: '¡Datos guardados!',
              showConfirmButton: false,
              timer: 1500
            });
          </script>
      {% endif %}
    
{% endblock %}