{% extends 'formularios/base.html' %}

{% block content %}
<h1> Formularios de seguimiento </h1>
<header>
    <nav>
<div class="listaFormularios">
    <ul>
        <li>
            <a href="/formulario_siembra/"> Formulario Siembra</a>
        </li>
        <li>
            <a href="/formulario_cosecha/"> Formulario Cosecha</a>
        </li>
        
        <li>
            <a href="/formulario_criopreservacion/"> Formulario Criopreservación</a>
        </li>
        <li>
            <a href="/formulario_datos"> Formulario Datos</a>
        </li>
        <li>
            <a href="/datos/">Datos</a>
        </li>
        <li>
            <a href="/admin/">Admin</a>
        </li>
        
    </ul>
</div>
</nav>
</header>
{% endblock %}